@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&family=Lobster&display=swap');

.fs-hepta-slab {
  font-style: normal;
  font-family: 'Hepta Slab', serif;
  font-optical-sizing: auto;
}

.fs-lobster {
  font-weight: 400;
  font-family: 'Lobster', sans-serif;
}
